<div class="container">
  <div class="card list-people">
    <div class="card-header-group">
      <h5 class="card-header">List of peoples</h5>
      <button type="button" class="btn btn-primary btn-add-people" routerLink="/people/new" routerLinkActive="active"
              ariaCurrentWhenActive="page">New
      </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Gender</th>
          <th scope="col">Fiscal Number</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let people of peoples">
          <td>{{people._id}}</td>
          <td>{{people.name}}</td>
          <td>{{people.birthdate}}</td>
          <td>{{people.gender}}</td>
          <td>{{people.fiscalNumber}}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="editPeople(people)">Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePeople(people)">Deletar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
