<div class="container">
  <div class="card add-people">
    <h5 class="card-header">Add/update people</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && savePeople(f)" #f="ngForm" novalidate>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="people.name" id="name" name="name" #name="ngModel" required
                 class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 placeholder="Input name">
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select [(ngModel)]="people.gender" id="gender" name="gender" #gender="ngModel" required class="form-control"
                  [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
          </select>
          <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
          </div>
        </div>

        <div class="form-group">
          <label for="fiscalNumber">Fiscal Number</label>
          <input type="text" [(ngModel)]="people.fiscalNumber" id="fiscalNumber" name="fiscalNumber"
                 #fiscalNumber="ngModel" angularFormsMask="DDD.DDD.DDD-DD" required class="form-control"
                 [ngClass]="{ 'is-invalid': f.submitted && fiscalNumber.invalid }" placeholder="Input fiscal number">
          <div *ngIf="f.submitted && fiscalNumber.invalid" class="invalid-feedback">
          </div>
        </div>

        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input type="date" [(ngModel)]="people.birthdate" id="birthdate" name="birthdate" #birthdate="ngModel"
                 required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && birthdate.invalid }"
                 placeholder="Select birthdate">
          <div *ngIf="f.submitted && birthdate.invalid" class="invalid-feedback">
          </div>
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Value</th>
              <button type="button" class="btn btn-success btn-add-contact btn-sm ml-1"
                      (click)="addContact()">Add
              </button>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of people.contacts; let i = index">
              <td>
                <div class="form-group">
                  <select [(ngModel)]="contact.type" id="contactType" [name]="'type_' + i" #type="ngModel" required
                          class="form-control"
                          [ngClass]="{ 'is-invalid': f.submitted && type.invalid }">
                    <option value="whatsapp">whatsapp</option>
                    <option value="phone">phone</option>
                    <option value="email">email</option>
                  </select>
                  <div *ngIf="f.submitted && type.invalid" class="invalid-feedback">
                  </div>
                </div>
              </td>

              <td>
                <div class="form-group">
                  <input type="text" [(ngModel)]="contact.value" id="contactValue{{i}}}" name="contactValue{{i}}}" #value="ngModel"
                         required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && value.invalid }"
                         placeholder="Input value">
                  <div *ngIf="f.submitted && value.invalid" class="invalid-feedback">
                  </div>
                </div>
              </td>

              <td>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteContact(i)">Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <button type="submit" class="btn btn-primary btn-add-people">Save</button>
        <button type="reset" class="btn btn-secondary btn-add-people" routerLink="/people/list"
                routerLinkActive="active"
                ariaCurrentWhenActive="page" (click)="cleanForm(f)">Cancel
        </button>
      </form>
    </div>
  </div>
</div>
